.test1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  // height: 100vh;
  width: 100%;
}

.header {
  width: 100%;
  transition: all 200ms ease-in;
}

.nav {
  min-height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navListWrapper {
  @include disableListStyles();
  @include contentIndents();

  width: $full-screen;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem a {
  color: $white;
  text-decoration: none;
}

.scrolledHeaderStyles {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.7);
}

.scrolledHeaderStyles .navItem a {
  transition: all 400ms ease-in-out;
  color: $black;
}

.navItemActive a {
  font-weight: 700;
}

.imagesPositionWrapper {
  position: absolute;
  width: 100%;
  top: 200px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.imagesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
}

.tagline {
  @include absoluteSetup;
  transition: all 200ms ease-in;
  top: 70%;
  color: $white;
  font-size: 20px;
  &::before {
    content: "";
    @include absoluteSetup();
    height: 2px;
    width: 100px;
    background-color: $white;
    top: 180%;
  }
}
