.imageWrapper {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.image {
  object-fit: cover;
}

.expandedButton {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: right;
  margin-top: 20px;
}
