.expandingButton {
  border: none;
  color: inherit;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  text-align: right;
  display: flex;
  align-items: center;
}

.expandingButton svg {
  margin-left: 5px;
}
