.expandingButton {
  border: none;
  color: inherit;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  text-align: right;
  //   position: absolute;
  //   top: 50%;
  transform: translateY(-50%);
  //   right: 0;
}
