.wrapper {
  max-width: 300px;
  max-height: 450px;
  text-align: center;
  background-color: $white;
  box-shadow: 0px 1px 5px 1px rgb(0 0 0 / 15%);
}

.imageWrapper {
  position: relative;
  height: 200px;
}

.image {
  object-fit: cover;
}

.textWrapper {
  padding: 25px 20px 10px 20px;
}

.title {
  @include cropText(2);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  &::after {
    content: "";
    @include absoluteSetup;
    background-image: url("/images/divider.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 20px;
    top: -55%;
  }
}

.price {
  font-size: 25px;
}

.productsList {
  @include contentIndents;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
