.wrapper {
  //TODO add bg image
  // background-image: url("/images/stars-bg.svg");
  // background-position: 50% 50%;
  // background-size: auto;
  // background-repeat: repeat;
  // background-origin: padding-box;
  // background-attachment: scroll;
  // background-clip: border-box;
  // image-rendering: optimize-contrast;
}

.container {
  // max-width: $full-screen;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.footer {
  margin-top: 60px;
}
