.main {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainWrapper {
  min-height: 100vh;
  padding-top: 20%;
  transform-style: inherit;
  width: 100vw;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background-image: url("./../../public/images/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    transform: translateZ(-1px) scale(2);
  }
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoImage {
  margin-bottom: 20px;
}

.tagline {
  color: $white;
  font-size: 25px;
  position: relative;
  &::before {
    content: "";
    @include absoluteSetup();
    height: 2px;
    width: 100px;
    background-color: $white;
    top: 180%;
  }
}
