.categoriesListWrapper {
  @include contentIndents;
}

.sectionTitle {
  @include titleIndents;
}

.categoryList {
  @include disableListStyles;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.categoryItem a {
  max-width: 300px;
  max-height: 400px;
  text-align: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $black;
}

.categoryItem:nth-child(2n) a {
  flex-direction: column-reverse;
}

.imageWrapper {
  position: relative;
  height: 300px;
}

.image {
  object-fit: cover;
}

.categoryTitle {
  @include cropText(2);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.categoryItem:nth-child(2n + 1) .categoryTitle {
  margin-bottom: 0px;
  margin-top: 40px;
}

.header {
  position: relative;
  &::after {
    content: "";
    @include absoluteSetup;
    background-image: url("/images/divider.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 20px;
    top: 25%;
  }
}

.categoryItem:nth-child(2n) .header {
  &::after {
    top: 75%;
  }
}
