.footerWrapper {
  @include contentIndents;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  position: relative;
  color: #fff;
  &::after {
    content: "";
    @include absoluteSetup;
    width: 70px;
    height: 70px;
    top: -17px;
    background-image: url("/images/sitting-magpie.svg");
    background-repeat: no-repeat;
  }
}

.footerLinks {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.socialMediaList {
  @include disableListStyles;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.socialMediaList li {
  margin-right: 20px;
}
.socialMediaList li:last-child {
  margin-right: 0;
}

.icon {
  display: block;
  width: 40px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: contain;
}

.telegramIcon {
  background-image: url("/images/telegram.svg");
}

.vkIcon {
  background-image: url("/images/vk.svg");
}
