@mixin contentIndents {
  padding: 0 20px;
}

@mixin titleIndents {
  margin-bottom: 30px;
}

@mixin absoluteSetup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin disableListStyles {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* string cropper */
@mixin cropText($stringQuantity: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $stringQuantity;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
