$white: #ffffff;
$primary-10-per: #e7f2e8;
$primary-30-per: #ccd8c7;
$primary-40-per: #909b8e;
$primary: #496257;
$primary-70-per: #2e443a;
$primary-90-per: #1a231f;
$black: #000000;

$full-screen: 1280px;
$desktop-screen: 1025px;
$laptop-screen: 769px;
$tablet-screen: 481px;
$mobile-screen: 320px;
